<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            .stdout {
                color: black;
            }

            .stderr {
                color: red;
            }
        </style>
    </head>
    <body>
        <a href="{{ log.record.plain_log.get_absolute_url }}">See plain text</a>
        <br>
        <!-- pre will render whitespace, so this is one-lined -->
        <pre>{% autoescape off %}{{ log.log_text }}{% endautoescape %}</pre>
    </body>
</html>
